/* MANGO THEME COLORS */
:root {
    --Piper: #D55025;
    --MangoTango: #E37B02;
    --Tangerine: #E49B00;
    --Tanglow: #F5B824;
    --Sunglow: #FDC636;
    --SunglowLight: #f9cb56;
    --SunglowVeryLight: #f6d582;
    --GoldenGrass: #D7BD1E;
    --Sycamore: #9C973C;
    --SycamoreDark: #7D7A2E;
    --SycamoreVeryDark: #4b4814;
    --SycamoreLight: #B4B17A;
    --WarmWhite: #efebd8;
}

/* DESKTOP CSS */
body {
    margin: 0;
    font-family: 'Verdana', 'Arial', 'Helvetica', 'sans-serif';
    background-color: var(--SunglowVeryLight);
}

#root {
    display: grid;
    height: 100vh;
    margin: 0;
    padding: 0;
    grid-template-rows: auto auto 1fr auto;
}

/* nav bar */
#nav-bar {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    gap: 10px;
    background-color: var(--Sycamore);
    padding: 20px;
    padding-top: 25px;
    height: fit-content;
}

#nav-bar > * {
    background-color: var(--Sycamore);
    border-radius: 10px;
    margin: auto;
    font-weight: bold;
}

/* gradients */
#top-gradient > *, #bottom-gradient > * {
    height: 7px;
}
.sycamore-dark {
    background-color: var(--SycamoreDark);
}
.piper {
    background-color: var(--Piper);
}
.mango-tango {
    background-color: var(--MangoTango);
}
.tanglow {
    background-color: var(--Tanglow);
}

/* content body */
.content {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    gap: 10px;
    padding: 10px;
    margin: 16px 10px;
}


/* address container */
#address-container {
    display: grid;
    grid-template-columns: auto auto 1fr auto;
    gap: 15px;
}

#address-container > * {
    margin-top: auto;
    margin-bottom: auto;
    border: none;
    border-radius: 5px;;
}

/* tooltip */
.material-icons {
    color: #D55025;
}

.material-icons:hover {
    cursor: help;
    color: #4b4814;
}

.tooltip {
    position: relative;
    display: inline-block;
    margin-left: -13px;
}

.tooltip-text {
    font-size: 12px;
}

.tooltip .tooltip-text {
    position: absolute;
    visibility: hidden;
    width: 350px;
    background-color: black;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px 5px 0 5px;
    z-index: 100;
    top: 110%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 16.5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

input {
    background-color: var(--WarmWhite);
    font: inherit;
    padding: 6px;
}

input[type="submit"] {
    cursor: pointer;
}

::placeholder {
    color: rgb(98, 98, 98);
}

/* sub-header */
.row-2 {
    display: grid;
    gap: 20px;
    grid-template-columns: auto 1fr auto;
    margin-top: 15px;
    margin-bottom: 0px;
}

#export-buttons {
    display: flex;
    justify-content: left; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* add subtle margins to corner features */
#export-buttons > *, #filters-bar > *, #loading-container > * {
    margin:0;
}

#sub-title {
    text-align: center;
    margin: auto;
}

#filters-bar {
    display: flex;
    justify-content: right;
    align-items: center;
}

#filters-bar > * {
    padding: 6px 10px;
}

select {
    background-color: var(--WarmWhite);
    border: none;
    border-radius: 5px;
    font: inherit;
}

#filters-bar > *:hover {
    cursor: pointer;
}

/* row 3 */
#pantry-content {
    padding:10px;
    margin-top: 0px;
    background-color: var(--WarmWhite);
    border-radius: 10px;
}

/* table background */
#pantry-chart {
    position:relative;
    height: 100%;
    width: 100%;
}

#pantry-chart > table {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    border: 1px black solid;
    border-collapse: collapse;
}

th, td {
    border: 1px black solid;
    border-top: none;
    border-bottom: none;
    border-collapse: collapse;
    padding: 5px;
}

th {
    vertical-align: top;
    height: 20px;
}

td {
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

td > * {
    background-color: var(--SunglowLight);
    padding: 5px;
    text-align: center;
}

.pantry-card {
    width: fit-content;
    margin: 10px auto;
    padding: 20px 10%;
}

div[class*="monday"] {
    margin-left: 15%;
}

div[class*="sunday"] {
    margin-right: 10px;
}

.pantry-card > * {
    margin: 0;
}

/* row 4 */
#loading-container {
    display: grid;
    gap: 10px;  
    grid-template-columns: auto 1fr auto;
    height: fit-content;
    background-color: var(--WarmWhite);
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
}

#loading-container > p {
    margin: auto;
}

#progress {
    background: var(--WarmWhite);
    border: var(--SycamoreDark) 2px solid;
    border-radius: 13px;
    height: 20px;
    width: 100%;
    margin: auto;
}

#progress:after {
    background: var(--Sycamore);
    border: var(--Sycamore) 2px solid inset;
    content: '';
    display: block;
    width: 50%;
    height: 100%;
    border-radius: 9px;
}

/* all buttons */
button { 
    all: unset;
    cursor: pointer;
    padding: 6px 10px;
}

button:hover {
    text-decoration: underline 0.8pt;
    text-underline-offset: 1.5px;
}